body {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.team-heading {
    background-color: rgb(98, 98, 99);
    color: white;
    font-weight: bold;
}

.card {
    margin: 20px;
    background-color: rgba(196, 149, 241, 0.377);
    width: 350px;
    float: left;
}

.card-header {
    text-align: center;
}
.card-title {
    font-weight: bold;
}





